
declare -a CREDENTIALS=(

  "nickname1:99 123-45-67:pass1"
  "nickname2:50 123-45-67:pass2"
      "daddy:66 123-45-67:pass3"
      "mommy:95 123-45-67:pass4"

)

##
## You have to create this folder and assign appropriate permissions
## In other case cache file's directory will be created in script's directory
##
#
# DATA_DIR=/var/cache/vodafone.cache
#
